@font-face {
  font-family: "Overpass Mono", monospace;
  src: url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&display=swap");
}

body {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background: linear-gradient(256deg, hsl(213, 19%, 18%), hsl(216, 12%, 8%));
  width: 350px;
  height: 350px;
  border-radius: 25px;
  margin-top: 20vh;
  padding: 3%;
}
.estrela-dourada {
  background: linear-gradient(256deg, hsl(213, 19%, 18%), hsl(216, 12%, 22%));
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#how {
  margin-left: 2%;
  margin-bottom: auto;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  font-family: "Overpass Mono", monospace;
}
.Rating-state-start {
  padding: 2%;
  font-size: 15px;
  color: hsl(216, 12%, 54%);
  font-family: "Overpass Mono", monospace;
}
ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Overpass Mono", monospace;
}
.radio-style {
  display: flex;
  justify-content: center;
  align-items: center;
}
#um::before {
  font-family: "Overpass Mono", monospace;
  content: "1";
  justify-content: center;
  display: flex;
  padding-top: 1.4vh;
  font-size: 2.5vh;
}
#dois::before {
  font-family: "Overpass Mono", monospace;
  content: "2";
  justify-content: center;
  display: flex;
  padding-top: 1.4vh;
  font-size: 2.5vh;
}
#tres::before {
  font-family: "Overpass Mono", monospace;
  content: "3";
  justify-content: center;
  display: flex;
  padding-top: 1.4vh;
  font-size: 2.5vh;
}
#quatro::before {
  font-family: "Overpass Mono", monospace;
  content: "4";
  justify-content: center;
  display: flex;
  padding-top: 1.4vh;
  font-size: 2.5vh;
}
#cinco::before {
  font-family: "Overpass Mono", monospace;
  content: "5";
  justify-content: center;
  display: flex;
  padding-top: 1.4vh;
  font-size: 2.5vh;
}
.rate-button {
  -webkit-appearance: none;
  background-color: hsl(218, 10%, 37%);
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  border: none;
  color: hsl(213, 19%, 18%);
  font-family: "Overpass Mono", monospace;
  font-weight: bold;
  cursor: pointer;
}
.rate-button:hover {
  background: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}
.rate-button:checked {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}

#submit-button {
  text-transform: uppercase;
  width: 56vh;
  height: 6vh;
  border-radius: 3vh;
  background-color: hsl(25, 97%, 53%);
  border: none;
  color: hsl(0, 0%, 100%);
  font-family: "Overpass Mono", monospace;
  font-size: 2.5vh;
  margin-top: 1.5vh;
  cursor: pointer;
}

#submit-button:hover {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
}
.attribution {
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
#card-2 {
  display: flex;
  background: linear-gradient(256deg, hsl(213, 19%, 18%), hsl(216, 12%, 8%));
  width: 350px;
  height: 350px;
  border-radius: 25px;
  margin-top: 22.69vh;
  padding: 3%;
  justify-content: center;
  position: absolute;
  visibility: hidden;
}
#img-tk {
  display: flex;
  justify-content: center;
}
#tk-style {
  padding-top: 1vh;
}
#rate-selected-style {
  display: flex;
  justify-content: center;
}
#rate-selected {
  display: flex;
  width: 28vh;
  height: 4vh;
  background: linear-gradient(256deg, hsl(213, 19%, 18%), hsl(216, 12%, 22%));
  justify-content: center;
  border-radius: 2vh;
  color: hsl(25, 97%, 53%);
  align-items: center;
  font-size: 13.5px;
  margin-top: 3vh;
  font-family: monospace;
  font-weight: 400;
}
#tk {
  font-weight: bold;
  font-size: 40px;
  color: hsl(0, 0%, 100%);
  font-family: "Overpass Mono", monospace;
  margin-top: 0px;
  padding-top: 1vh;
  margin: 2vh;
}
#final-text-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#final-text {
  font-size: 15px;
  color: hsl(216, 12%, 54%);
  font-family: "Overpass Mono", monospace;
  text-align: center;
}
